table {
  border-collapse: collapse;
  margin-top: 6rem;
  width: 100%;
}

tr {
  display: flex;
}

table a {
  text-decoration: none;
  color: white;
}

th {
  background-color: var(--indigo);
  color: var(--backgroundColor);
}

th,
td {
  padding: 10px;
  text-align: left;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th:nth-child(2),
.itemUrl {
  flex: 2;
  flex-flow: row wrap;
}

tr:nth-child(even) {
  background-color: var(--foregroundColor);
}

th:hover {
  background-color: var(--indigo-dark);
  cursor: pointer;
}

.deleteButton {
  cursor: pointer;
}

.deleteButton:hover {
  color: rgb(247, 83, 83);
}
