#searchBox {
  padding: 0.8rem;
  border-radius: 2rem;
  border: none;
  margin-left: 1rem;
  font-size: 1rem;
  background-color: var(--backgroundColor);
  color: white;
  min-width: 300px;
}

#searchBox:focus {
  outline: none;
  box-shadow: 0 0 4px 3px var(--indigo);
}
