nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--foregroundColor);
}

nav img {
  width: 50px;
  height: 50px;
}

.heading {
  display: flex;
  align-items: center;
}

.heading h1 {
  margin-right: 1rem;
}

a {
  color: white;
  text-decoration: none;
}
