:root {
  box-sizing: border-box;
  --indigo: #2dbed8;
  --indigo-dark: #1aacc6;
  --backgroundColor: #192231;
  --foregroundColor: #24344d;
}

body {
  padding: 2rem;
  margin: 0;
  background-color: var(--backgroundColor);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
